<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @if (!string.IsNullOrWhiteSpace(ViewBag.CorreoElectronico))
    {
        <p>Correo electrónico utilizado: @ViewBag.CorreoElectronico</p>
    }

            @RenderBody()
</body>
</html>
